/* SideBar */
.sidebar {
  background-color: #ADD8E6;
  font-size: 1.0em; /* Adjust the font size */
  padding: 20px;
  border-right: 1px solid #ccc;
  width: 250px;
}
/* Task Item */
ul li.task-item {
  font-size: 50 px !important;
  margin-bottom: 8 px;

}
/* App.css */

h1 {
  color: #2d39e4; /* Adjust to any color you like */
  font-size: 3.0em; /* Adjust the font size */
  padding: 30px; /* Add padding */
  text-align: center; /* Center the text */
  font-family: Arial, sans-serif; /* Choose a font */
  background-color: #d3d0d0; /* Optional background color */
  border-radius: 8px; /* Optional rounded corners */
}
h2 {
  font-size: 2.0em; /* Adjust the font size */
  padding: 10px; /* Add padding */
  font-family: Arial, sans-serif; /* Choose a font */
  border-radius: 8px; /* Optional rounded corners */
}
